<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MonkeyTiles"
        tools:targetApi="31">
        <activity
            android:name=".youwin2"
            android:exported="false" />
        <activity
            android:name=".timerunout2"
            android:exported="false" />
        <activity
            android:name=".pause2"
            android:exported="false" />
        <activity
            android:name=".youwin1"
            android:exported="false" />
        <activity
            android:name=".timerunout1"
            android:exported="false" />
        <activity
            android:name=".pause1"
            android:exported="false" />
        <activity
            android:name=".hardnew"
            android:exported="false" />
        <activity
            android:name=".mediumeasy"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".easynew"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".leaderboard"
            android:exported="false" />
        <activity
            android:name=".ui.instruction"
            android:exported="false" />
        <activity
            android:name=".hard"
            android:exported="false" />
        <activity
            android:name=".medium"
            android:exported="false" />
        <activity
            android:name=".easy"
            android:exported="false" />
        <activity
            android:name=".winnerpage"
            android:exported="false" />
        <activity
            android:name=".choosedifficulty"
            android:exported="false" />
        <activity
            android:name=".win"
            android:exported="false" />
        <activity
            android:name=".timerunout"
            android:exported="false" />
        <activity
            android:name=".pause"
            android:exported="false" />
        <activity
            android:name=".category7"
            android:exported="false" />
        <activity
            android:name=".category6"
            android:exported="false" />
        <activity
            android:name=".category5"
            android:exported="false" />
        <activity
            android:name=".category4"
            android:exported="false" />
        <activity
            android:name=".category3"
            android:exported="false" />
        <activity
            android:name=".category2"
            android:exported="false" />
        <activity
            android:name=".category1"
            android:exported="false" />
        <activity
            android:name=".home"
            android:exported="false"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".signup"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>